<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Coding Events</title>
</head>
<body>

<h1>All Events</h1>

<table>
    <tr>
        <th>Event Name</th>
        <th>Event Description</th>

    </tr>
    <tr>
        < th:block th:each="eventItem : ${eventHashMap}">
            <td th:text="${eventItem.getKey}"></td>
        </th:block>
        <th:block th:each="eventItem : ${eventHashMap}">
            <td th:text="${eventItem.getValue}"></td>
        </th:block>
    </tr>
</table>

</body>
</html>